/*================================*/
/*=========== Variables ==========*/
/*================================*/

@font-face {
  font-family: 'bebas';
  src: url("../fonts/Somatic-Rounded.otf");
}

$badr-blue: #3589c9;
$title-font: 'Roboto';
$main-font: 'Open Sans';

$why-badr-color: #0e3d63;
$font-text-normal: 13px;
$font-text-header: 18px;
$font-text-hero: 60px;


// footer
$footer-items-numbers: 6;
$footer-item-addres-width: 30%;
