/*================================*/
/*=========== Variables ==========*/
/*================================*/

$font-text-normal: 15px;
$font-text-header: 18px;
$font-text-hero: 60px;
$main-font: 'Roboto';
$title-font: 'Roboto';

// footer
$footer-items-numbers: 6;
$footer-item-addres-width: 30%;

//navbar

$navbar-color: #263e5c;


