/*=====================================*/
/*=========== Top Navigation ==========*/
/*=====================================*/

.myNav {
  margin: 0px;
  padding: 20px 0px;
  background-color: $navbar-color; 
  li {
    display: inline-block;
    list-style: none;
    width: 33%;
    a {
      color: white;
    }
  }
}